.quiz-area {
    background-image: url("https://stepik.org/media/attachments/lesson/374893/world.png");
    background-color: rgb(255, 255, 255);
    background-size: cover;
}

.title {
    text-align: center;
    font-family: Arial, sans-serif;
    color: darkcyan;
}

.cards {
    font-family: Impact, sans-serif;
    margin: 50px auto auto;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 120px 120px 120px;
    justify-items: center;
    justify-content: center;
    perspective: 2000px;
}
.card{
    position: relative;
    height: 120px;
    width: 130px;
    transition: all 1s linear;
    transform-style: preserve-3d;
}
.front, .back {
    width: 110px;
    height: 110px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    line-height: 60px;
    position: absolute;
}
.front{
    background-color: rgb(249, 239, 229);
    z-index: 2;
    backface-visibility: hidden;
}

.back{
    background-color: #FD9A3E;
    z-index: 1;
    transform: rotateY(180deg);
}

.front p {
    color: #FD9A3E;
    letter-spacing: 2px;
}
.back p {
    color:  rgb(249, 239, 229);
    letter-spacing: 2px;
}

.card:hover{
    transform: rotateY(180deg);
}